<!DOCTYPE html>
<html>
<head>
	<title>MENU</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add.css')}}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
				

</head>
<body>
	<div class="container"><img src="{{url_for('static',filename='banner.jpg')}}"  /></div>​
	<ul>
		<li>
			<a href="{{ url_for('adpr')}}" >
				<i class="fa fa-plus" aria-hidden="true"></i>
				<span>  ADD RECORD </span>
			</a>
		</li>
		<li>
			<a href="{{url_for('displayupdate')}}">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				<span> Update</span>
			</a>
			
		</li>
		<li>
			<a href="{{url_for('delete')}}">
				<i class="fa fa-trash" aria-hidden="true"></i>
				<span> Delete</span>
			</a>
		</li>
		<li>
			<a href="{{url_for('display')}}">
				<i class="fa fa-eye" aria-hidden="true"></i>
				<span> View </span>
			</a>
		</li>
		<li>
			<a href="{{url_for('searchdisplay')}}">
				<i class="fa fa-eye" aria-hidden="true"></i>
				<span> Search </span>
			</a>
		</li>
	</ul>

</body>
</html>